@import url(https://fonts.googleapis.com/css?family=Raleway);@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://unpkg.com/ionicons@3.0.0/dist/css/ionicons.min.css);/* stylelint-disable */

@font-face {
  font-family: 'icomoon';
  src:  url(e0cdc4cfd6e082df40e49cefcaab8eec.eot);
  src:  url(e0cdc4cfd6e082df40e49cefcaab8eec.eot) format('embedded-opentype'),
    url(adf32b2f4ba5894129165eea2656c79c.ttf) format('truetype'),
    url(0f17ee2390dc2c04b397a71ea697bc2d.woff) format('woff'),
    url(befa4392d45e84f34774adf40ffbdfc0.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\E905";
}

.icon-eyedropper:before {
  content: "\E90A";
}

.icon-droplet:before {
  content: "\E90B";
}

.icon-paint-format:before {
  content: "\E90C";
}

.icon-image:before {
  content: "\E90D";
}

.icon-images:before {
  content: "\E90E";
}

.icon-camera:before {
  content: "\E90F";
}

.icon-film:before {
  content: "\E913";
}

.icon-video-camera:before {
  content: "\E914";
}

.icon-file-picture:before {
  content: "\E927";
}

.icon-address-book:before {
  content: "\E944";
}

.icon-envelop:before {
  content: "\E945";
}

.icon-compass:before {
  content: "\E949";
}

.icon-user:before {
  content: "\E971";
}

.icon-users:before {
  content: "\E972";
}

.icon-user-plus:before {
  content: "\E973";
}

.icon-user-minus:before {
  content: "\E974";
}

.icon-user-check:before {
  content: "\E975";
}

.icon-quotes-left:before {
  content: "\E977";
}

.icon-quotes-right:before {
  content: "\E978";
}

.icon-equalizer:before {
  content: "\E992";
}

.icon-equalizer2:before {
  content: "\E993";
}

.icon-cog:before {
  content: "\E994";
}

.icon-cogs:before {
  content: "\E995";
}

.icon-pie-chart:before {
  content: "\E99A";
}

.icon-stats-dots:before {
  content: "\E99B";
}

.icon-stats-bars:before {
  content: "\E99C";
}

.icon-stats-bars2:before {
  content: "\E99D";
}

.icon-clipboard:before {
  content: "\E9B8";
}

.icon-list-numbered:before {
  content: "\E9B9";
}

.icon-list:before {
  content: "\E9BA";
}

.icon-menu2:before {
  content: "\E9BE";
}

.icon-menu3:before {
  content: "\E9BF";
}

.icon-menu4:before {
  content: "\E9C0";
}

.icon-link:before {
  content: "\E9CB";
}

.icon-attachment:before {
  content: "\E9CD";
}

.icon-eye-blocked:before {
  content: "\E9D1";
}

.icon-plus:before {
  content: "\EA0A";
}

.icon-minus:before {
  content: "\EA0B";
}

.icon-cross:before {
  content: "\EA0F";
}

.icon-checkmark:before {
  content: "\EA10";
}

.icon-sort-alpha-asc:before {
  content: "\EA48";
}

.icon-sort-alpha-desc:before {
  content: "\EA49";
}

.icon-sort-numeric-asc:before {
  content: "\EA4A";
}

.icon-sort-numberic-desc:before {
  content: "\EA4B";
}

.icon-sort-amount-asc:before {
  content: "\EA4C";
}

.icon-sort-amount-desc:before {
  content: "\EA4D";
}

.icon-font:before {
  content: "\EA5C";
}

.icon-ligature:before {
  content: "\EA5D";
}

.icon-ligature2:before {
  content: "\EA5E";
}

.icon-text-height:before {
  content: "\EA5F";
}

.icon-text-width:before {
  content: "\EA60";
}

.icon-font-size:before {
  content: "\EA61";
}

.icon-bold:before {
  content: "\EA62";
}

.icon-underline:before {
  content: "\EA63";
}

.icon-italic:before {
  content: "\EA64";
}

.icon-strikethrough:before {
  content: "\EA65";
}

.icon-superscript:before {
  content: "\EA69";
}

.icon-subscript:before {
  content: "\EA6A";
}

.icon-superscript2:before {
  content: "\EA6B";
}

.icon-subscript2:before {
  content: "\EA6C";
}

.icon-text-color:before {
  content: "\EA6D";
}

.icon-clear-formatting:before {
  content: "\EA6F";
}

.icon-table:before {
  content: "\EA70";
}

.icon-table2:before {
  content: "\EA71";
}

.icon-insert-template:before {
  content: "\EA72";
}

.icon-pilcrow:before {
  content: "\EA73";
}

.icon-ltr:before {
  content: "\EA74";
}

.icon-rtl:before {
  content: "\EA75";
}

.icon-paragraph-left:before {
  content: "\EA77";
}

.icon-paragraph-center:before {
  content: "\EA78";
}

.icon-paragraph-right:before {
  content: "\EA79";
}

.icon-paragraph-justify:before {
  content: "\EA7A";
}

.icon-indent-increase:before {
  content: "\EA7B";
}

.icon-indent-decrease:before {
  content: "\EA7C";
}

.icon-embed:before {
  content: "\EA7F";
}

.icon-embed2:before {
  content: "\EA80";
}

@font-face {
  font-family: 'OCR A Extended';
  src: url(f2ecc6ef740fcf60de095b0b087dd58d.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 16px;
  font-size: 1rem;
}
body {
  line-height: 1.8;
  font-family: Raleway, 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(0deg, #F4F4F4, #eae9e8);
  background-attachment: fixed;
  color: #394B59;
  position: relative;
}
a {
  color: #c0392b;
  cursor: pointer;
  text-decoration: none;
}
p {
  margin-bottom: 10px;
}
p + p {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2,
h3 {
  font-weight: 700;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
  font-weight: 700;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
i {
  display: inline;
}
table {
  border-collapse: collapse;
}
table a {
  display: block;
  color: black;
}
th {
  padding: 5px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa !important;
}
th,
td {
  padding-left: 7px;
  width: 140px;
  border-bottom: 1px dashed #aaa;
  text-align: left;
  display: table-cell;
}
thead {
  font-weight: bold;
  background-color: #eee;
}
._mh_b {
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(#eee, #ddd);
  text-transform: uppercase;
  padding: 10px 20px;
  color: #293742;
  outline: none;
  border: 1px solid #a7b6c2;
  letter-spacing: 1px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._mh_b > i {
  margin-right: 4px;
}

._mh_b:hover{
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  opacity: 0.9;
}

._mh_b:active{
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

._mh_b:disabled{
  color: #888;
}

._24Q6L {
  background: #db3737;
  color: #FFF;
  border-color: #a82a2a
}

._24Q6L._1EE5V{
  color: #FFF;
}

._24Q6L:active{
  color: #FFF;
}

._2IcLn {
  padding: 10px 15px;
  font-size: 12.8px;
  font-size: 0.8rem;
}

._3W7YW {
  font-size: inherit;
}

.V1noA {
  font-size: 22.4px;
  font-size: 1.4rem;
}
._23tyT {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  padding: 20px;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._3F3fN {
  background: #333;
  color: #fff;
}

.ddHWu {
  padding: 0;
}
._3o6k8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

._3xsCO {
  border: 1px solid #C24538 !important;
}

._qvlw {
  background: #C24538;
  color: #fff;
  padding: 5px 10px;
  margin-top: 3px;
  border-radius: 3px;
}
._3RzBR {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

._3o6YF {
  background: #eee;
}

._3RzBR:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
  border-color: #aaa;
}
._25uf9 {
}

._19VDH {
  margin: 10px auto;
  width: 200px;
  border: none;
  height: 2px;
  background-color: black;
}
._1pFdr {
  position: absolute;
  top: -14px;
  right: -10px;
  background: linear-gradient(45deg, #842219, #e55649);
  color: #fff;
  border-radius: 8px;
  min-width: 28px;
  font-size: 16px;
  padding: 5px;
  opacity: 0.9;
}

._2TN2e {
  position: relative;
}

._3XNs2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: rgba(0, 0, 0, .6);
  border-radius: 8px;
  padding: 2px 10px;
}

._1Ie-g {
  padding: 0 5px;
}

._2rq21 {
  cursor: pointer;
  color: rgba(255, 255, 255, .6);
}

._3SsPK,
._2rq21:hover {
  color: rgba(255, 255, 255, 1);
}

.At82F {
  width: 50%;
  float: right;
}

.fokVf {
  width: 50%;
  float: left;
}

._1sVE1 {
  width: 100%;
}

.MlpHZ {
  height: 2px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #ddd;
}

.MlpHZ::before {
  display: block;
  position: absolute;
  content: '';
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  -webkit-animation: _1h22i 1s linear infinite;
          animation: _1h22i 1s linear infinite;
}

._1JNJw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._1JNJw span {
  text-align: center;
}

@-webkit-keyframes _1h22i {
  from {
    left: -200px;
    width: 50%;
  }

  50% {
    width: 70%;
  }

  70% {
    width: 95%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

@keyframes _1h22i {
  from {
    left: -200px;
    width: 50%;
  }

  50% {
    width: 70%;
  }

  70% {
    width: 95%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
._3hP_E {
  border-radius: inherit;
  height: inherit;
  width: inherit;
}

.IbQn1 {
  position: absolute;
  border-radius: inherit;
  height: inherit;
  width: inherit;
}

._35NsR {
  border-radius: inherit;
  height: inherit;
  width: inherit;
  z-index: 0;
  position: absolute;
  background-color: gainsboro;
  cursor: pointer;
}

._2jhaK {
  height: 400px;
  width: 600px;
}

._1Nkkq {
  border-radius: inherit;
  height: inherit;
  width: inherit;
  z-index: 0;
  position: absolute;
  color: white;
  background-color: rgba(200, 200, 200, .7);
}

._1tI8o {
  font-size: 80px;
  color: inherit;
}

._3oowd {
  background: rgba(255, 255, 255, .8);
  border-radius: 5px;
  font-size: 24px;
  padding: 0 20px;
  text-align: center;
}

._2vDvg {
  border-radius: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  position: absolute;
}

._1vJav {
  border-radius: inherit;
  height: inherit;
}

._1RBN- {
  height: 400px;
  width: 100%;
}

._1FFRb {
  margin-top: 20px;
}

._32021 {
  margin-right: 10px;
}
/*!
 * Cropper.js v0.8.1
 * https://github.com/fengyuanchen/cropperjs
 *
 * Copyright (c) 2015-2016 Fengyuan Chen
 * Released under the MIT license
 *
 * Date: 2016-09-03T04:55:16.458Z
 */

.cropper-container {
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  direction: ltr;
}
.cropper-container img {
  display: block;
  min-width: 0 !important;
  max-width: none !important;
  min-height: 0 !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
  image-orientation: 0deg;
}
.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cropper-wrap-box {
  overflow: hidden;
}
.cropper-drag-box {
  opacity: 0;
  background-color: #fff;
}
.cropper-modal {
  opacity: .5;
  background-color: #000;
}
.cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
}
.cropper-dashed {
  position: absolute;
  display: block;
  opacity: .5;
  border: 0 dashed #eee;
}
.cropper-dashed.dashed-h {
  top: 33.33333333%;
  left: 0;
  width: 100%;
  height: 33.33333333%;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333333%;
  width: 33.33333333%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px;
}
.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  opacity: .75;
}
.cropper-center:before,
.cropper-center:after {
  position: absolute;
  display: block;
  content: ' ';
  background-color: #eee;
}
.cropper-center:before {
  top: 0;
  left: -3px;
  width: 7px;
  height: 1px;
}
.cropper-center:after {
  top: -3px;
  left: 0;
  width: 1px;
  height: 7px;
}
.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .1;
}
.cropper-face {
  top: 0;
  left: 0;
  background-color: #fff;
}
.cropper-line {
  background-color: #39f;
}
.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize;
}
.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize;
}
.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize;
}
.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize;
}
.cropper-point {
  width: 5px;
  height: 5px;
  opacity: .75;
  background-color: #39f;
}
.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}
.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}
.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}
.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize;
}
.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}
.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}
.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}
.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  opacity: 1;
}
.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: ' ';
  opacity: 0;
  background-color: #39f;
}
@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    opacity: .75;
  }
}
.cropper-invisible {
  opacity: 0;
}
.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}
.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
._1qHSL {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  right: 0;
}

._34Cyr {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fGFXE {
  position: fixed;
  max-width: 680px;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  outline: none;
  max-height: 80vh;
  overflow-y: scroll;
}

._3fx-H {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
._3czcp {
  line-height: 1;
  position: absolute;
  display: inline-block;
  margin: 0 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 22px;
}

._3czcp > i:hover {
  cursor: pointer;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

._3YcFI {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

._2AEy0 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

._2iy5K {
  margin: 0 6px;
  z-index: 300;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}
/* stylelint-disable shorthand-property-no-redundant-values */
._1rMW7 {
  background: #10161A;
  text-transform: uppercase;
  margin: 2px 0;
  padding: 6px 12px;
  font-size: 18px;
  color: #FFF;
  outline: none;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  position: absolute;
  z-index: 500;
}
._2Yhcw {
  display: inline-block;
  vertical-align: top;
  width: 1px;
  margin: 5px 6px 0 6px;
  height: 32px;
  background: #FFF;
}
.Ozf8c {
  margin: 0 3px 8px;
  cursor: pointer;
  vertical-align: -webkit-baseline-middle;
}
._2oM5L > span {
  color: #ff7373;
}
input._2L0As {
  font-size: 16px;
  width: 260px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: 0;
  border-bottom: 1px solid darkgray;
  padding: 4px 0;
  margin: 4px;
}
._1FG3Q {
  cursor: pointer;
}
._3On-f {
  position: relative;
  background: #FFF;
  padding: 15px 0;
  border-radius: 5px;
}

.PCGaP {
  font-weight: 400;
  margin: 0 25px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.003em;
}

.PCGaP blockquote {
  border-left: 3px solid rgba(0, 0, 0, .8);
  padding-left: 10px;
  margin-left: -13px;
  padding-bottom: 3px;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.PCGaP h1 {
  font-size: 24px;
  font-weight: 700;
}

.PCGaP h2 {
  font-size: 20px;
  font-weight: 700;
}

.PCGaP ::-moz-selection { background: rgba(178, 34, 34, .26); }

.PCGaP ::selection { background: rgba(178, 34, 34, .26); }

.PCGaP ul,ol {
  list-style-position: inside;
}

.PCGaP ul {
  list-style-type: disc
}

.PCGaP ol > li {
  padding-left: 5px;
}
.a0-sH {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 25px rgba(0, 0, 0, .05);
  position: absolute;
  width: 250px;
  padding: 10px 0;
  margin-top: 10px
}

@media (max-width: 30em) {

  .a0-sH{
    width: 100%
  }

  .a0-sH::before,
    .a0-sH::after{
    display: none
  }
  }

.a0-sH::before,
.a0-sH::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ddd;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -8px;
}

.a0-sH::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  top: -7px;
}

.a0-sH h2 {
  margin: 0;
  font-size: 19.2px;
  font-size: 1.2rem;
}

._3OUrw > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  transition: background 0.1s
}

._3OUrw > li > a:hover{
  background: linear-gradient(#f5f5f5, #f9f7f7)
}

._2gMX7 {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
._13709 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._3Vz3m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
}

._3Vz3m > input {
  text-align: center;
}

._3Vz3m > button {
  font-size: 18px;
}
._2HIYB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

._2PeH7 {
  width: auto;
  max-width: 320px;
  padding: 0 20px;
}

._1ngqG {
  cursor: pointer;
}

._30e4n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

._30e4n > h3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

._30e4n > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._1hjsq {
  -webkit-box-flex: 0;
      -ms-flex: 0 14.28571%;
          flex: 0 14.28571%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  text-align: center;
  font-size: 16px;
  padding: 5px
}

._1hjsq:nth-child(7n+1) {
  border-left: 1px solid #ddd;
}

._1hjsq:nth-child(-n+7) {
  border-top: 1px solid #ddd;
}

._1hjsq:hover {
  background: #eee;
}

.XjA9L {
  color: #bbb;
}

._3xCFK {
  font-weight: 700;
}
._2JfDE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._1_-Ef {
  display: inline-block;
  width: 21px;
  height: 21px;
}

.HAmBz {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

/* Base for label styling */

[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  z-index: 1;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  margin-top: 4px;
  margin-left: 5px;
  opacity: 0;
}

[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
  position: relative;
  cursor: pointer;
}

/* radio aspect */

[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 11px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
}

/* checked mark aspect */

[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #d13c32;
  transition: all 0.2s;
}

/* checked mark aspect changes */

[type='radio']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0) translate(11px, 11px);
          transform: scale(0) translate(11px, 11px);
}

[type='radio']:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1) translate(3px, 3px);
          transform: scale(1) translate(3px, 3px);
}

/* disabled radio */

[type='radio']:disabled:not(:checked) + label::before,
[type='radio']:disabled:checked + label::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type='radio']:disabled:checked + label::after {
  color: #999;
}

[type='radio']:disabled + label {
  color: #aaa;
}

/* accessibility */

[type='radio']:checked:focus + label::before,
[type='radio']:not(:checked):focus + label::before {
  cursor: pointer;
}

/* hover style just for information */

label:hover::before {
  border: 1px solid #999 !important;
  transition: border 0.5s;
}
._2CmNn {
  display: inline-block;
  width: 18px;
  height: 18px;
}

._2QS5V {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

/* Base for label styling */

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  z-index: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  cursor: pointer;
}

/* checkbox aspect */

[type='checkbox']:not(:checked) + label::before,
[type='checkbox']:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  border-radius: 1px;
}

[type='checkbox']:not(:checked) + label::before {
  background: #f8f8f8;
}

[type='checkbox']:checked + label::before {
  background: #888;
}

/* checked mark aspect */

[type='checkbox']:not(:checked) + label::after,
[type='checkbox']:checked + label::after {
  content: '\2713';
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 16px;
  line-height: 0.8;
  color: white;
  transition: all 0.2s;
}

/* checked mark aspect changes */

[type='checkbox']:not(:checked) + label::after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

[type='checkbox']:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* disabled checkbox */

[type='checkbox']:disabled:not(:checked) + label::before,
[type='checkbox']:disabled:checked + label::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type='checkbox']:disabled:checked + label::after {
  color: #999;
}

[type='checkbox']:disabled + label {
  color: #aaa;
}

/* accessibility */

[type='checkbox']:checked:focus + label::before,
[type='checkbox']:not(:checked):focus + label::before {
  cursor: pointer;
}

/* hover style just for information */

label:hover::before {
  border: 1px solid #999 !important;
  transition: border 0.5s;
}

.RFt7G {
  width: 100%;
  margin-bottom: 20px;
}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
._30Nai {
  position: relative;
  overflow: hidden;
}

._2J3pN {
  width: 100%;
  height: 300px;
  background: #000;
}
._2Ivlq {
  /*opacity: 0;*/
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
}

._294wp {
  opacity: 1;
}
._12y_K {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

._3C3sr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 100%;
}

._1NP1G {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._16PYM {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._1zcAT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._3JcFj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  margin-left: 25px;
  font-weight: 500;
  padding: 15px 0;
  color: #ba1414;
}

._3kdM4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.vla9v {
  max-width: 360px;
  margin: 10px 25px;
}

._31Tnc {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .04);
  margin-bottom: 1em;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._1fVsX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

._1y6Ja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CU6jN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._250t- {
  color: #888;
  padding: 0 8px;
  font-size: 9.6px;
  font-size: 0.6rem;
}

._26Y4f {
  color: #777;
  font-size: 14.4px;
  font-size: 0.9rem;
}

._1f1SM {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin: 0;
}
._2QTBI {
  margin-left: 50px;
}
._2f7PE {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

._37OVB {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 10px auto;
}

._2FyR8,
._1de1H {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E20D13;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: NewCC 2s infinite ease-in-out;
          animation: NewCC 2s infinite ease-in-out;
}

._1de1H {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes NewCC {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes NewCC {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
._1TDOz {
}

._2nuNk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .09);
}

._2ih6Q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
}

._13TgQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._2KXT0 {
  padding: 0px 20px 0px 20px;
}

._2NMLl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, .09);
}
._1RfcL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._3OLY3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._3C-IO {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._3C-IO i {
  color: green;
  position: absolute;
  right: 0;
  transition: color 0.3s ease
}

._3C-IO i:hover {
  cursor: pointer;
  color: #7AF252;
}

._2oHaU,
._2qH1s {
  display: block;
  font-style: italic;
  line-height: 20px;
}

._2oHaU {
  margin-top: 5px;
}
/**
 * Utility classes for use by other classes.
 *
 * Usage:
 * `composes: className from 'app/styles/utilities.css'`
 */

._1M3PP {
  max-width: 1100px;
  margin: 0 auto;
}

.JVUD- {
  background: #FFF;
  padding: 40px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .05);
  border-radius: 3px
}

@media (max-width: 30em) {

  .JVUD-{
    padding: 40px 10px;
  }
  }

._3wlsA {
  border: 1px solid rgba(0, 0, 0, .09);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border-radius: 5px;
}

.Dz60C {
  box-shadow: 0 0 5px #202b33;
}

.Z0iXK {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

._22E_s {
}

@media (max-width: 30em) {

  ._22E_s{
    display: none !important;
  }
  }

._3Thk6 {
  /* TODO: Make this proper CSS for a general sidebar */
  min-height: 300px;
  padding: 20px 0 0 30px;
  margin: 0 0 0 60px;
  border-left: 1px solid #ccc;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.u-small {
  font-size: 14px;
}

.u-mb {
  margin-bottom: 15px;
}

.u-ui-heading {
  color: #666;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
._3mg4_ {
  width: 100%;
  background-color: #1b1a1a;
  color: white;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._3mg4_ h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 20px;
}

._3rLPu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

._3aV3N {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 20px;
}
._1Br-O {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
}
.YXEqq {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

._349Sz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  padding-top: 40px;
  border-bottom: 1px solid #ccc
}

@media (max-width: 30em) {

  ._349Sz{
    padding: 0 20px;
    height: 96px;
  }
  }

._349Sz input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: 0;
  padding: 0 16px;
  padding: 0 1rem;
  font-size: 25.6px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  background: transparent
}

._349Sz input::-webkit-input-placeholder{
  color: #666;
}

._349Sz input:-ms-input-placeholder{
  color: #666;
}

._349Sz input::placeholder{
  color: #666;
}

._2QXfe {
  color: #777;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

._3W_vp {
  font-size: 40px;
  margin-right: 10px;
}

.JaQ7Y {
  width: 60px;
  outline: none;
  border: 0;
  background: transparent;
  color: #333;
  cursor: pointer;
  font-size: 50px;
}

.N6faE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, .8)
}

@media (max-width: 30em) {

  .N6faE{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  }

._1-2WI {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  padding: 32px;
  padding: 2rem;
}

._1-2WI li {
  list-style: none;
}

._1-2WI a {
  display: block;
  color: #a0261b;
  line-height: 2;
  padding: 0 16px;
  padding: 0 1rem;
  font-size: 19.2px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

._1-2WI a:hover {
  letter-spacing: 1px;
  color: #333;
}

._3hlD0 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 32px;
  padding: 2rem;
  background: #eee;
}

._3hlD0 li {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  padding: 0.5rem;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._1RO5T {
  font-weight: 700;
}
._32x2E {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  padding: 0;
}

._3xN6M {
  text-align: center;
  padding: 10px;
  border-top: 1px solid lightgray;
}

._36ZYz {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

._1Q0Dd {
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row
}

._1Q0Dd:last-child {
  border-bottom: none;
}

._3jBP2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._1Ryyh {
  background-color: rgba(255, 143, 131, .29);
}

._17hL0 {
  padding-right: 15px;
}
._3I0N- {
  background: rgba(255, 255, 255, .5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

._1JtCE {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

._1JtCE button,
._1JtCE i,
._1JtCE img {
  border: 0;
  color: #394B59;
  font-size: 40px;
  cursor: pointer;
}

._1JtCE button:focus {
  outline: none;
}

._1JtCE button:hover {
  color: #1D1D1D;
}

._26Hil {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120px;
  padding: 0 20px;
}

._2HUun {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

._2HUun > img {
  max-width: 160px;
}

._1lupM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  line-height: 60px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2
}

@media (max-width: 30em) {

  ._1lupM{
    display: none;
  }
  }

._1lupM a {
  font-size: 21.6px;
  font-size: 1.35rem;
  padding: 0 16px;
  padding: 0 1rem;
  height: 100%;
  color: #394b59;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  transition: color 0.2s
}

._1lupM a::after{
  content: '';
  height: 10px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #C24538;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

._1lupM a:hover,
  ._1lupM a._1u46t{
  color: #000;
}

._1lupM a:hover::after,
  ._1lupM a._1u46t::after{
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  bottom: 3px;
}

._1lupM a._1acCD{
  font-family: 'OCR A Extended', sans-serif;
  font-size: 27.2px;
  font-size: 1.7rem;
  text-transform: lowercase;
  letter-spacing: 0;
  padding-bottom: 7px;
}

.z7IFe {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

._3GWbH {
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 70px;
  height: 70px;
  background-color: #d13c32;
  border-radius: 35px;
}

._2hv44,
._2HF3w {
  line-height: 25px;
  margin: 0 auto;
}

._3Yt6H {
  font-size: 35px;
  color: white;
  margin: 0 auto;
}

._2yKSd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._2hv44 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

._2HF3w {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 20px;
  font-weight: 200;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

._33CQ8 {
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: #d13c32;
}

._19vlq {
  font-size: 27px;
  color: white;
  margin: 0 auto;
}

._25Aws {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  line-height: 20px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._2nFuf {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 20px;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
._2mZQo {
  width: 100%;
  padding-top: 20px;
}
._1Z1ik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._1I2KD {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

._1p2Bw {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.z68Va {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._1Q8B3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

._2wUTP {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ih-RZ {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.VZvB2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Ko9xt {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.e17ol {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._1pWmO {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._1zYX_ {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cycJd {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.redVt {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

._1MRDV {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._3_G4E {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

._2KTmB {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
._3FPHV,
._2xTyY {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  overflow: hidden;
}

._3FPHV {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

._2xTyY {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

._2xTyY > img {
  width: 100%;
}
._3kC_d {
  background: #ddd;
  padding: 2px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14.4px;
  font-size: 0.9rem;
  font-weight: 700;
}
._18ePU {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 2px #eee;
  position: absolute;
  max-width: 500px;
  padding: 20px;
  z-index: 1000;
  color: #333;
}
._2rFSJ {
  margin-right: 8px;
  display: inline;
}

.VSGOl {
  color: #555;
  border-radius: 4px;
  padding: 2px 8px;
  background: #f0f0f0;
  transition: 0.1s;
}

.VSGOl:hover {
  background: #ba1414;
  color: #fff;
  transition: 0.2s;
}

.VSGOl a,
._1gHOJ a {
  color: inherit;
}

._1gHOJ {
  color: #555;
  transition: 0.1s;
}

._1gHOJ:hover {
  color: #ba1414;
  transition: 0.2s;
}
._2s4LW {
  display: none;
}

._1Ur3Q {
  display: block;
  position: absolute;
  background: #333;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 15px;
}

._1Ur3Q::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  left: 10%;
}

._3WkkR {
  margin-top: -45px;
}

._3WkkR::after {
  top: 100%;
  border-color: #333 transparent transparent;
}

._87Zeu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

._87Zeu::after {
  border-color: transparent transparent #333;
  bottom: 100%;
}
.jqO4u {
  width: 100%;
  height: 400px;
  padding: 0 30px;
  margin-bottom: 5px;
  overflow-y: scroll;
}

.jqO4u > li {
  border-bottom: 1px solid #CCC;
}

.jqO4u > li:last-child {
  border-bottom: none;
}

.l47nf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SQPcp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  min-width: 75px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SQPcp:last-child {
  border-right: none;
}

.eYbqR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.eYbqR > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.SQPcp:hover,
._3T3-9 {
  color: #1C1C1C;
  border-bottom: 1px solid #C24538;
  border-radius: 5px;
}
._2othk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

._3-Jzm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: rgba(200, 200, 200, .5);
  max-width: 100%;
  min-width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
